<div class="container d-flex flex-column flex-wrap justify-content-center align-items-center">
<div class="row">
<h2 class="form-title">Registro</h2>


<p class="form-description">Ya tienes una cuenta? <%= link_to "Ingresa", new_user_session_path %></p>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-field", placeholder: "email" %>
    <div id="emailHelp" class="form-text form-em">mínimo 6 caractéres.</div>
  </div>

  <div class="field mb-3">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control form-field", placeholder: "nueva contraseña" %>
  </div>

  <div class="field mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class:"form-control form-field", placeholder: "confirmación de contraseña" %>
  </div>

  <p class="form-terms">Al hacer clic en Crear cuenta, acepto que he leído y aceptado los <%= link_to "Términos de uso", new_user_session_path %> y la <%= link_to "Política de privacidad.", new_user_session_path %> </p>

  <div class="actions">
    <%= f.submit "Registrar", class:"btn btn-outline-light btn-lg fw-bold form-button"%>
  </div>
<% end %>
</div>
</div>
