<p style="color: green"><%= notice %></p>

<%= Time.now %>
<h1>Templates</h1>

  <%= turbo_frame_tag 'categories' do %>
    <%= link_to  "Todos", templates_path %>
    <%= render partial: 'category', collection: @categories %>
    <div id="templates">
      <% @templates.each do |template| %>
        <%= render template %>
        <p>
          <%= link_to "Show this template", template %>
        </p>
      <% end %>
    </div>
  <% end %>

<%= link_to "New template", new_template_path %>