<div class="container d-flex flex-column flex-wrap justify-content-center align-items-center">
<div class="row">
<h2 class="form-title">Ingresa</h2>

<p class="form-description">Usuario Nuevo? <%= link_to "Crea una cuenta", new_user_registration_path %></p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mb-3">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-field", placeholder: "email" %>
  </div>

  <div class="field mb-3">
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control form-field", placeholder: "contraseña" %>
  </div>

  <div class="actions">
    <%= f.submit "Ingresar" , class: "btn btn-outline-light btn-lg fw-bold form-button" %>
  </div>
<% end %>

<div class="form-link">
  <%= render "devise/shared/links" %>
</div>
</div>
</div>